@page "/sections"

@code {
    User user;
    List<Section> sectionlist;
    public string strSearch { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {

        WebHeader.TITLE = "Sections";
        user = await localdb.GetItemAsync<User>(table.table_user);
        await LoadData();
    }
    async Task LoadData()
    {
        sectionlist = await _db.GetListSection(user.Email);
        if (sectionlist == null) sectionlist = new();
        await InvokeAsync(StateHasChanged);
    }

    async Task OnAddClick()
    {
        var d = await dialog.Show<DialogAddSection>("Add Section", new DialogOptions() { MaxWidth = MaxWidth.ExtraSmall }).Result;
        if (!d.Cancelled)
        {
            var data = (Section)d.Data;
            await LoadData();
            snackbar.Add($"{data.Name} added.");
        }
    }
    void TextChanged(string txt)
    {
        strSearch = txt;
        StateHasChanged();
    }
    
}

<div class="row">
    <div class="col-md-12">

        @if (sectionlist == null)
        {
            <MudProgressLinear Color="Color.Primary" Size="Size.Small" Indeterminate Class="mt-3" />
        }
        else
        {
            <MudSimpleTable Elevation="25" Hover FixedHeader Style="height:87vh;overflow:scroll" Bordered="false">
                <thead>
                    <tr>
                        <th>
                            <MudToolBar Dense Class="p-0">
                                <MudSpacer />
                                <MudTooltip Placement="Placement.Start" Text="Add section">
                                    <MudButton OnClick="OnAddClick" StartIcon="@Icons.Rounded.Edit" Size="Size.Small" Color="Color.Primary" Variant="Variant.Filled">Add Section</MudButton>
                                </MudTooltip>
                            </MudToolBar>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <MudToolBar Dense Class="p-0">
                                <MudTextField Adornment="Adornment.Start" AdornmentIcon="@Icons.Rounded.Search" Immediate TextChanged="TextChanged" T="string" Variant="Variant.Outlined" Placeholder="Search here..." />
                                <MudSpacer />
                            </MudToolBar>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (sectionlist.Count == 0)
                    {
                        <tr>
                            <td>
                                <p class="p-5 text-center">
                                    <i>No section added yet.</i>
                                </p>
                            </td>
                        </tr>
                    }
                    @if (sectionlist.Where(x => x.Name.Contains(strSearch, StringComparison.OrdinalIgnoreCase)).Count() == 0)
                    {
                        <tr>
                            <td>
                                <p class="p-5 text-center">
                                    <i>No result found.</i>
                                </p>
                            </td>
                        </tr>
                    }
                    @foreach (var sec in sectionlist.Where(x => x.Name.Contains(strSearch, StringComparison.OrdinalIgnoreCase)))
                    {
                        <tr style="cursor:pointer" @onclick="@(()=> nav.NavigateTo($"/sections/{sec.Id}"))">
                            <td>
                                <MudAvatar Color="Color.Primary">@sec.Name.FirstOrDefault().ToString()</MudAvatar>
                                <MudText Class="ml-3" Inline Typo="Typo.h6">@sec.Name</MudText>
                            </td>
                        </tr>

                    }
                </tbody>
            </MudSimpleTable>

        }
    </div>
</div>